.power_of_art {
  .hero {
    height: 1000px;
    margin: 10px auto;
  }

  .location {
    background-color: #efeae0;
    margin: 50px auto;
    padding: 50px 0;
    @include respond-below(sm) {
      margin: 20px auto;
    }
    .location_paragraph {
      margin: 20px auto;
      font-size: 40px;
      font-weight: bolder;
      text-align: center;
      @include respond-below(sm) {
        font-size: 20px;
        text-align: left;
      }
    }
    .location_gallery {
      img {
        max-width: 100%;
        margin: 20px 0;
      }
    }
  }

  .objectives {
    .single_objective {
      padding: 40px;
      margin: 20px;
      color: #ffffff;
      text-align: center;
      @include respond-below(md) {
        padding: 20px;
      }
      .icon {
        font-size: 50px;
      }
      .text {
        font-size: 30px;
        @include respond-below(sm) {
          font-size: 20px;
        }
      }
    }
  }

  .par_groups {
    .par_groups_paragraph {
      margin: 20px auto;
      font-size: 40px;
      font-weight: bolder;
      text-align: center;
      @include respond-below(sm) {
        font-size: 20px;
        text-align: left;
      }
    }
    .groups {
      .single_col {
        text-align: center;
        h2 {
          font-size: 55px;
          color: $dark_blue;
          font-weight: bolder;
          margin: 30px auto;
          @include respond-below(xl) {
            font-size: 30px;
          }
        }
      }
      .col_img {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }

  .why_participate {
    line-height: 2;
    .post_img {
      text-align: center;
      @include respond-below(xl) {
        margin-bottom: 30px;
      }
      img {
        max-width: 100%;
      }
    }
    p {
      font-size: 27px;
      @include respond-below(sm) {
        font-size: 20px;
      }
    }
    .firs_paragraph {
      font-weight: 600;
      a {
        color: #000000;
        font-weight: bold;
        text-decoration: underline;
      }
    }
    .blue_div {
      background-color: $dark_blue;
      color: white;
      padding: 24px;
      font-weight: bold;
      text-align: center;
    }
    .second_paragraph {
      font-weight: 600;
      p {
        margin: 20px auto;
      }
    }
    .green_div {
      background-color: $almoosa-light-green;
      color: white;
      padding: 24px;
      font-weight: bold;
      text-align: center;
    }
  }
}
