.almoosa-doctors {
  .bord-governers {
    padding-top: 70px;
    padding-bottom: 100px;
    .post_with_title .two_columns_post,
    .post_with_title .one_column_post_content {
      margin: 0 !important;
      .post_title {
        padding-top: 0;
      }
    }
  }
  .our-doctors {
    .title {
      @include sectionHeading($almoosa-light-green-color);
    }
    .doctor-content-page {
      margin-top: 30px !important;
      .doctor-img {
        img.governer-doctor {
          max-height: 350px !important;
          max-width: 300px !important;
        }
      }
    }
  }
}
