.fast-facts {
  // .head-banner {
  //   background-color: $medical-centers;
  //   text-align: center;
  //   padding: 200px 0;
  //   h2 {
  //     font-size: 80px;
  //     font-weight: bolder;
  //     color: #ffffff;
  //   }
  // }
  .hero {
    .hero-content {
      h2 {
        color: $primary-color;
      }
    }
  }
  section.fast-facts {
    padding-top: 70px;
    padding-bottom: 100px;
    .title {
      @include sectionHeading($almoosa-light-green-color);
    }
    .content {
      margin-top: 30px;
      .single-section {
        margin-bottom: 50px;
        //line-height: 36px;
        .fast-facts-title,
        .fast-facts-subtitle {
          font-weight: bold;
          color: $secondary-color-light;
          font-size: 20px;
          text-decoration: underline;
          font-family: 'diodrum-arabic-bold';
          @include respond-below(md) {
            font-size: 16px;
          }
        }
        .sub-single-section {
          padding: 0 20px;
          .fast-facts-subtitle {
            font-size: 19px;
            margin-top: 30px;
            color: $primary-color;
          }

          .fast-facts-sub-subtitle {
            font-size: 17px;
            margin-top: 30px;
            color: $dark-blue;
          }
          .fast-facts-paragraph,
          .fast-facts-menu {
            font-size: 15px;
          }
        }

        .fast-facts-paragraph {
          font-weight: bold;
          font-size: 16px;
          margin: 10px 0 30px 0;
        }
        .fast-facts-menu {
          font-weight: bold;
          font-size: 16px;
          & > li {
            margin-top: 20px;
            font-size: 16px;
            @include respond-below(md) {
              font-size: 14px;
            }
          }
          .sub-item {
            color: rgb(51, 51, 51);
          }
        }
      }
    }
  }
}

@include respond-below(md) {
  .fast-facts {
    .head-banner {
      padding: 50px;
      h2 {
        font-size: 30px;
      }
    }
  }
}
