.our-history-page {
  .content-wrapper {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  .slick-slider-fixed {
    position: fixed !important;
    top: 10.5%;
    left: 0;
    width: 100%;
    z-index: 9;
  }
  .slick-timline-text-tabs {
    margin-bottom: 50px;
    .slick-list {
      width: calc(100% - 101px);
      margin: 0 auto;
    }
    .slick-arrow {
      border: none;
      height: auto;
      width: 40px;
      background: $secondary-color-light;
      background-size: 8px 14px;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 1;
      line-height: 16px;
      margin-top: 1px;
      margin-bottom: 1px;
      text-indent: -9999px;
      z-index: 10;
      outline: 0;
      height: 100%;
      padding: 8px;
      color: #fff;
      font-size: 10px;
      &::before {
        display: table;
        content: ' ';
      }
      &.slick-prev {
        left: 0;
      }
      &.slick-next {
        right: 0;
      }
    }
    .item {
      text-align: center;
      font-size: 15.4px;
      border: 1px solid #ffffff;
      color: #555555;
      padding: 13px;
      background-color: #d1d1d1;
      line-height: 16px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      &.active {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }

  .content-wrapper {
    h2 {
      @include sectionHeading($almoosa-color-green);
    }
    svg {
      direction: ltr;
      width: 100%;
      height: auto;
    }

    .history__header_wrapper {
      .history__title {
        font-family: 'diodrum-arabic-bold' !important;
        color: $secondary-color-light;
        font-size: 20px;
        text-decoration: underline;
        @include respond-below(md) {
          font-size: 16px;
        }
      }
      .description {
        margin: 1em 0 !important;
        padding-bottom: 26px;
        h5 {
          font-family: 'diodrum-arabic-bold' !important;
          color: $secondary-color-light;
          font-size: 20px;
          text-decoration: underline;
          @include respond-below(md) {
            font-size: 16px;
          }
        }
        p {
          font-size: 16px;
          font-family: 'diodrum-arabic-meduim' !important;
          @include respond-below(md) {
            font-size: 14px;
          }
        }
        @include respond-below(md) {
          font-size: 14px;
        }
        ul {
          li {
            margin: 20px 0;
            font-size: 16px;
            @include respond-below(md) {
              font-size: 14px;
            }
          }
        }
      }
    }

    .history__item {
      .inner_wrapper {
        @include respond-below(sm) {
          flex-direction: column;
          align-items: center;
        }
      }
      .content {
        @include respond-below(sm) {
          order: 2;
        }
        .title {
          font-size: 22px;
          margin: 0.8rem 0;
          color: $secondary-color-purple;
          font-family: 'diodrum-arabic-bold';
          @include respond-below(md) {
            text-align: center;
          }
        }
        .description {
          * {
            line-height: 24px;
            font-family: 'diodrum-arabic-meduim' !important;
            @include respond-below(md) {
              font-size: 14px;
            }
          }
          ul {
            li {
              margin: 20px 0;
              font-size: 16px;
              @include respond-below(md) {
                font-size: 14px;
              }
            }
          }
        }
        @include respond-below(sm) {
          text-align: center;
        }
      }
      .image-wrapper {
        img {
          width: 100%;
          height: 270px;
          display: block;

          @include respond-below(lg) {
            height: 270px;
          }
          @include respond-below(md) {
            max-height: 250px;
            width: 100%;
          }
        }
      }
    }
  }
}
