.power_of_art {
  .hero {
    //height: $photo-section-big-banner;
    .right-title {
      text-align: center;
      position: absolute;
      right: 28%;
      top: 48%;
      @include respond-below(sm) {
        position: unset;
        width: 100%;
        margin-top: 20px;
      }
      h3 {
        font-size: $heading-size;
        color: $secondary-color;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        margin: 0;
        @include respond-below(lg) {
          font-size: $heading-mob-size;
        }
        @include respond-below(md) {
          font-size: $heading-sm-size;
        }
      }
    }
  }

  .post_with_title {
    .two_columns_post {
      .post-paragraph {
        .single_paragraph {
          margin: 10px auto;
        }
      }
      .post-img {
        img {
          height: 450px;
        }
      }
    }
  }
  .location {
    background-color: #efeae0;
    margin: 50px auto;
    padding: 50px 0;
    @include respond-below(sm) {
      margin: 20px auto;
    }
    .location_paragraph {
      margin: 20px auto;
      font-size: $paragraph-text-size;
      font-weight: bolder;
      text-align: center;
      @include respond-below(sm) {
        font-size: 20px;
        text-align: left;
        @include rtl() {
          text-align: right;
        }
      }
    }
    .location_gallery {
      .col {
        margin: 30px 0;
        .img-container {
          height: 266px;
          img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            object-fit: fill;
          }
        }
      }
    }
  }

  .objectives {
    margin: 50px 0;

    .single_objective {
      height: 100%;
      padding: 40px;
      margin: 20px;
      color: #ffffff;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      @include respond-below(md) {
        padding: 20px;
      }
      .icon {
        img {
          max-width: 100px;
          filter: brightness(0) invert(1);
          @include respond-below(sm) {
            max-width: 50px;
          }
        }
      }
      .text {
        font-size: $paragraph-text-sm-size;
      }
      @include respond-below(sm) {
        margin: 20px 0;
      }
    }
  }

  .par_groups {
    margin: 50px auto;
    .par_groups_paragraph {
      margin: 20px auto;
      font-size: $paragraph-text-size;
      font-weight: bolder;
      text-align: center;
      @include respond-below(sm) {
        font-size: 20px;
        text-align: left;
        @include rtl() {
          text-align: right;
        }
      }
    }
    .groups {
      .col {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .single_col {
        h4 {
          //font-size: 55px;
          color: $dark_blue;
          font-weight: bolder;
          margin: 30px auto 10px;
          @include respond-below(xl) {
            font-size: 30px;
          }
        }
      }
      .col_img {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }

  .why_participate {
    //line-height: 2;
    margin: 50px 0;
    .post_img {
      text-align: center;
      @include respond-below(xl) {
        margin-bottom: 30px;
      }
      img {
        width: 100%;
        height: 500px;
        @include respond-below(sm) {
          height: 300px;
        }
      }
    }
    p {
      font-size: $paragraph-text-size;
      @include respond-below(sm) {
        font-size: $font-sm;
      }
    }
    .firs_paragraph {
      font-weight: 600;
      a {
        color: #000000;
        font-weight: bold;
        text-decoration: underline;
      }
    }
    .blue_div {
      background-color: $dark_blue;
      color: white;
      padding: 24px;
      font-weight: bold;
      text-align: center;
      @include respond-below(sm) {
        padding: 10px;
        p {
          font-size: $font-xxs;
        }
      }
    }
    .second_paragraph {
      font-weight: 600;
      p {
        margin: 20px auto;
      }
    }
    .green_div {
      background-color: $almoosa-light-green;
      color: white;
      padding: 24px;
      font-weight: bold;
      text-align: center;
      @include respond-below(sm) {
        padding: 14px;
      }
    }
  }
}
