section.home-centers {
  padding: 30px 0;
  position: relative;
  h3.section-title-center {
    color: $primary-color;
    padding-bottom: 28px;
    font-family: 'diodrum-arabic-bold';
    font-size: $sub-heading;
    @include respond-below(lg) {
      font-size: $sub-heading-md;
      padding-bottom: 20px;
    }
    @include respond-below(md) {
      font-size: $sub-heading-sm;
      padding-bottom: 10px;
    }
    @include Border-bottom(3px, $primary-color);
  }

  .owl-carousel {
    .owl-nav {
      direction: ltr !important;
      .owl-prev:hover,
      .owl-next:hover {
        color: gray !important;
        border: 2px solid $secondary-color-light !important;
      }
      .owl-prev,
      .owl-next {
        background: #fff;
        border: 2px solid $secondary-color-light !important;
        color: $secondary-color-light !important;
        font-size: 20px !important;
        padding: 0px 8px !important;
        border-radius: 5px;
      }
      .owl-prev {
        position: absolute;
        top: 50%;
        left: -60px;
        transform: translateY(-50%);
        @include respond-below(lg) {
          position: relative;
          top: 0;
          left: -10px;
          transform: translateY(0);
          @include rtl() {
            left: -60px;
            transform: rotateY(180deg);
          }
        }
      }
      .owl-next {
        position: absolute;
        top: 50%;
        right: -60px;
        transform: translateY(-50%);
        @include respond-below(lg) {
          position: relative;
          top: 0;
          right: -10px;
          transform: translateY(0);
          @include rtl() {
            transform: rotateY(180deg);
            right: -60px;
          }
        }
      }
    }
    @include rtl {
      .owl-nav {
        @include respond-below(sm) {
          direction: rtl;
        }
      }
    }
  }
  .caro-card {
    height: 400px;
    background: transparent;
    position: relative;
    img {
      height: 50%;
      width: 100%;
      display: block;
      @include respond-below(sm) {
        width: 90%;
        margin: auto;
      }
    }

    .content {
      text-align: center;
      height: 197px;
      z-index: 2;
      box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16);
      background: #fff;
      padding: 21px 14px;
      @include rtl() {
        direction: rtl;
      }

      h3 {
        font-size: 18px;
        color: #537435;
        font-weight: medium;
      }
      p {
        margin: 20px 0;
        font-size: 14px;
      }
      a.details_link {
        font-size: 14px;
        display: block;
        padding: 10px;
        border-radius: 6px;
        background: $primary-color;
        color: #fff;
        text-align: center;
        transition: 0.4s;
        position: absolute;
        bottom: 10px;
        width: 90%;
        &:hover {
          background: $secondary-color;
        }
      }
    }
  }

  .show_more_center {
    color: $primary-color;
    font-size: 25px;
    font-family: 'diodrum-arabic-bold';
    display: block;
    border-bottom: 1px solid;
    width: max-content;
    margin: auto;
    padding-bottom: 5px;
    transition: 0.4s;
    padding-top: 20px;
    &:hover {
      color: $secondary-color;
    }
    @include respond-below(sm) {
      font-size: 20px;
    }
  }
}
