.home-hero-content,
.carosel-content {
  width: 100%;
  height: 100%;
  align-items: center;
  @include respond-below(lg) {
    display: block;
  }
  > div {
    @include respond-below(lg) {
      width: 'min-content';
    }
  }
  h2 {
    color: $primary-color;
    font-size: $heading;
    font-family: 'diodrum-arabic-meduim';
    padding: $spaces 0;
    @include Border-bottom(3px, $primary-color);

    @include respond-below(lg) {
      font-size: $heading-md;
    }
    @include respond-below(sm) {
      font-size: $heading-sm;
    }
    span {
      display: block;
      margin: 0;
    }
    @include respond-below(lg) {
      display: inline-block;
    }
  }
  .stores-wrapper {
    margin: $spaces 0;
    @include respond-below(lg) {
      position: relative;
      z-index: 10;
      justify-content: center;
    }
    @include respond-below(sm) {
      margin: 0;
    }
    a {
      display: inline-block;
      img {
        width: 150px;
        @include respond-below(lg) {
          width: 130px;
        }

        @include respond-below(md) {
          width: 100px;
        }

        @include respond-below(sm) {
          width: 75px;
        }
      }
      &:first-child {
        margin: 10px;
      }
      &:last-child {
        margin: 10px 0 10px 10px;
        @include rtl() {
          margin: 10px 10px 10px 0;
        }
      }
    }
  }
  p {
    margin: $spaces 0;
    color: $secondary-color;
    font-size: $sub-heading;
    font-family: 'diodrum-arabic-meduim';
    width: 648px;
    @include respond-below(lg) {
      width: auto;
      font-size: $sub-heading-md;
    }
    @include respond-below(md) {
      font-size: $sub-heading-sm;
    }
    @include respond-below(sm) {
      font-size: $sub-heading-xs;
    }
  }

  .book-now a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: $secondary-color-light;
    font-family: 'diodrum-arabic-meduim';
    border-radius: 10px;
    color: #fff;
    font-size: 22px;
    padding: 0.5em 2em;
    @include respond-below(md) {
      font-size: 14px;
    }

    @include respond-below(sm) {
      font-size: 12px;
      padding: 0.5em 1em;
    }

    @include respond-below(xs) {
      display: none;
    }
  }
}
