.icons-section {
  font-family: 'diodrum-arabic-bold';
  padding: 75px 0;

  .card {
    padding: 40px 50px 50px;
    height: 200px;
    background-color: #f0ebe0;
    border: none;
    color: $primary-color;
    margin-bottom: 20px;
    @include respond-below(md) {
      height: 160px;
      padding: 40px 5px;
    }

    @include respond-below(sm) {
      height: 140px;
    }

    &:hover {
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      color: #fff;
      background-color: $secondary-color-light;
      @include respond-below(md) {
        -ms-transform: scale(1.07);
        transform: scale(1.07);
      }

      @include respond-below(sm) {
        -ms-transform: scale(1.05);
        transform: scale(1.05);
      }
    }
    .icon {
      padding-bottom: 5px;
      display: inline-block;
      font-size: 35px;
      @include respond-below(md) {
        font-size: 30px;
      }

      @include respond-below(sm) {
        font-size: 25px;
      }
    }

    h4 {
      font-size: 1.3rem;
      @include respond-below(md) {
        font-size: 1.2rem;
      }

      @include respond-below(sm) {
        font-size: 1rem;
      }
    }

    .stores-wrapper {
      position: absolute;
      width: 100%;
      bottom: 5px;
      left: 0;
      display: flex;
      justify-content: space-around !important;
      .store-name {
        @include respond-below(sm) {
          display: none;
        }
      }
    }
  }
}
