section.testimonial {
  height: auto;
  margin: 30px 0;
  @include background-image;

  padding: 40px 250px;
  color: #fff;
  text-align: center;
  @include respond-below(xl) {
    padding: 78px 0 65px;
    height: auto;
  }
  .top-head {
    h3 {
      font-size: $sub-heading-size;
      font-weight: 700;
      @include Border-bottom(3px, #fff);
      padding-bottom: 15px;
      @include respond-below(lg) {
        font-size: $heading-mob-size;
      }
    }
    p {
      font-size: $sub-heading-size;
      font-weight: bold;
      @include Border-bottom(3px, #fff);
      width: 50%;
      margin: 0 auto;
      padding-bottom: 15px;
      @include respond-below(lg) {
        font-size: $sub-heading-mob-size;
      }
    }

    span.qoutes {
      display: block;
      font-size: 3em;
      color: $primary-color;
    }
  }

  .item {
    margin: 0 auto;
    @include rtl() {
      direction: rtl;
    }
    p.qoute-text {
      width: 85%;
      margin: 30px auto 70px;
      font-family: 'diodrum-arabic-meduim';
      @include respond-below(md) {
        width: auto;
      }
    }

    .owl-item-caption {
      padding: 30px 0 15px;
      width: 50%;
      display: inline-block;
      @include Border(top, 2px, #5a3c19);
      @include respond-below(sm) {
        width: auto;
      }
      p {
        font-size: 20px;
        color: #fff;
        font-family: 'diodrum-arabic-bold';
      }
      h3 {
        font-size: 20px;
        color: $primary-color;
        font-family: 'diodrum-arabic-bold';
      }
    }
  }
  .owl-nav {
    @include respond-below(md) {
      display: none;
    }
    .owl-prev:hover,
    .owl-next:hover .owl-prev:focus,
    .owl-next:focus,
    .owl-prev:active,
    .owl-next:active {
      color: #fff !important;
      background-color: $primary-color;
    }
    .owl-prev,
    .owl-next {
      border: none;
      color: $primary-color !important;
      font-size: 40px !important;
      padding: 0px 8px !important;
      border-radius: 5px;
    }
    .owl-prev {
      position: absolute;
      top: 20%;
      left: -20px;
      transform: translateY(-20%);
      @include rtl {
        transform: rotateY(180deg);
      }
    }
    .owl-next {
      position: absolute;
      top: 20%;
      right: -20px;
      transform: translateY(-20%);
      @include rtl {
        transform: rotateY(180deg);
      }
    }
  }

  .owl-dots {
    button {
      span {
        background: #fff !important;
      }
      &.active span {
        background: $primary-color !important;
      }
    }
  }
}
