html {
  font-family: 'diodrum-arabic';
}
html[lang='ar'] {
  body {
    text-align: right;
    direction: rtl;
  }
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.container {
  max-width: 1651px;
}
.content-wrapper {
  padding-top: 70px;
  padding-bottom: 100px;
}

button:focus,
input:focus {
  outline: 0;
}

// Some Global classes will need in all the pages
.mb-50 {
  margin-bottom: 50px;
}

//fix rtl
.owl-stage-outer {
  position: relative;
  overflow: hidden;
  direction: ltr;
}
