.history{
    padding-top: 30px;
    padding-bottom: 100px;
    h2 {
        color: $secondary-color-purple;
        font-size: $heading-size;
        font-weight: bold;
        @include Border-bottom(3px, $secondary-color-purple);
        padding-bottom: 29px;
        @include respond-below(lg){
            font-size: $heading-mob-size;
        }
        @include respond-below (sm) {
            font-size: $heading-sm-size;
        }
        margin-bottom: 60px;
    }
    svg{
        width: 100%;
        height: auto;
    }
}