.ourIdentity{
    @include respond-below (xl) {
        padding-bottom: 2em;
    }
    .ripple{
        height: 200px;
        position: relative;
        z-index: 1;
        top: -100px;
        background-color: rgba(15, 66, 94, 0.65);
    }
    .card-wrapper{
        position: relative;
        z-index: 2;
        top: -200px;
        padding: 34px 10px 40px;
        border-radius: 5px;
        @include background-image;
        color: #FFF;
        @include respond-below (xl) {
            top: 0;
            &:last-child{
                margin-top: 20px;
            }
        }
        h2{
            font-size: $sub-heading-size;
            font-family: "diodrum-arabic-bold";
            @include respond-below (lg) {
                font-size: $sub-heading-mob-size;
            }
        }

        .icon-wrapper{
            display: inline-block;
            padding: 5px 15px;
            @include Border(top, 2px, #FFF);
            @include Border(bottom, 2px, #FFF);
            font-size: 40px;
            font-family: "diodrum-arabic-bold";
        }
        
        p{
            margin-top: 40px;
            font-size: 25px;
            font-family: "diodrum-arabic-meduim";
            @include respond-below (sm) {
                font-size: 20px;

            }
        }
    }
}