.lets_learn_section {
  .hero {
    @include respond-below(lg) {
      padding: 10em 0;
    }
  }
  .custom_banner_class {
    //height: $photo-section-big-banner;
    background-size: cover;
    position: relative;
    .banner-overlay {
      background-color: #649a12d1;
      color: white;
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      max-height: 100%;
      padding: 50px 0;
      text-align: center;
      .col {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .title {
        display: inline-block;
        h2 {
          font-size: $heading-banner;
          font-weight: bold;
        }
      }
      .logo {
        width: 100%;
        margin: auto;
        display: inline-block;
        img {
          max-width: 100%;
          filter: invert(1);
        }
      }
      .initiative-name {
        h2 {
          font-size: 40px;
          font-weight: bold;
          text-align: right;
          text-transform: uppercase;
        }
      }
    }
  }
  .middle-paragraph {
    background-color: $gray;
    padding: 80px 0;
    margin: 50px 0;
    text-align: center;
    p,
    span,
    li,
    h3,
    a {
      font-size: 16px !important;
      font-family: 'diodrum-arabic-meduim' !important ;
      @include respond-below(md) {
        font-size: 14px !important;
      }
    }

    b,
    strong {
      font-family: 'diodrum-arabic-bold' !important;
      p,
      span,
      a,
      li,
      h3,
      h4 {
        font-family: 'diodrum-arabic-bold' !important;
      }
    }
  }
  .two_columns_post {
    .post-img {
      img {
        width: 100%;
        border-radius: 5px;
        height: 250px;
      }
    }
  }
  .post-two {
    margin: 50px auto;
    .post-paragraph {
      // font-size: $paragraph-text-size;
      font-weight: bold;
      padding: 10px;
      @include respond-below(md) {
        font-size: $paragraph-text-sm-size;
      }
      @include respond-below(sm) {
        font-size: $font-sm;
      }
    }
    .post-img {
      img {
        width: 100%;
        border-radius: 5px;
        height: 250px;
      }
    }
  }
}

@include respond-below(xxl) {
  .lets_learn_section {
    .post-two {
      .post-paragraph {
        margin-top: 20px;
      }
    }
  }
}

// under 1200px screen
@include respond-below(xl) {
  .lets_learn_section {
    .custom_banner_class {
      .banner-overlay {
        .title {
          h2 {
            font-size: 30px;
          }
        }
        .initiative-name {
          h2 {
            font-size: 30px;
          }
        }
      }
    }
  }
}

// under 992px screen
@include respond-below(lg) {
  .lets_learn_section {
    .custom_banner_class {
      .banner-overlay {
        top: 0;
        align-items: center;
        display: flex;
        padding: 20px 0;
        .title {
          h2 {
            font-size: 20px;
          }
        }
        .initiative-name {
          h2 {
            font-size: 20px;
          }
        }
      }
    }
  }

  // Under 768px
  @include respond-below(md) {
    .lets_learn_section {
      .middle-paragraph {
        padding: 20px 0;
        text-align: left;
        @include rtl() {
          text-align: right;
        }
        p {
          font-size: $paragraph-text-sm-size;
        }
      }
    }
  }

  // under 576px screen
  @include respond-below(sm) {
    .lets_learn_section {
      .custom_banner_class {
        height: 500px;
        .banner-overlay {
          .title {
            margin: 10px auto;
          }
          .initiative-name {
            margin: 10px auto;
            h2 {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
