.center-paragraph * {
  font-size: 16px !important;
  font-family: 'diodrum-arabic-meduim' !important ;
  @include respond-below(md) {
    font-size: 14px !important;
  }
}

.block-content {
  .item {
    font-family: 'diodrum-arabic-meduim';
    margin: 20px auto;
    h2 {
      padding: 20px;
      background-color: $primary-color;
      color: #fff;
      font-size: 18px;
      font-family: 'diodrum-arabic-bold';
      @include respond-below(lg) {
        font-size: 16px;
      }
    }
    &:not(h1, h2, h3, h4, h5, h6) {
      font-size: 16px !important;
      font-family: 'diodrum-arabic-meduim' !important ;
      @include respond-below(md) {
        font-size: 14px !important;
      }
    }
  }
}
