.reusable-dropdown {
  margin: 50px auto;
  .dropdown-button {
    width: 100%;
    background-color: $almoosa-light-green;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-align: left;
    font-size: 18px;
    @include rtl() {
      text-align: right;
    }
    .button-content {
      display: inline-block;
      margin-left: 10px;
      font-size: $heading-mob-size;
      @include rtl() {
        margin-left: 0;
        margin-right: 10px;
      }
      @include respond-below(md) {
        font-size: $heading-sm-size;
      }
      @include respond-below(sm) {
        font-size: $paragraph-text-xs-size;
      }
      img {
        margin-right: 20px;
        width: 30px;
        @include rtl() {
          margin-right: auto;
          margin-left: 20px;
        }
        @include respond-below(sm) {
          width: 20px;
        }
      }
    }
    .arrow {
      float: right;
      margin-right: 50px;
      @include rtl() {
        margin-right: 0;
        margin-left: 50px;
        float: left;
      }
      @include respond-below(sm) {
        margin-right: 10px;
        @include rtl() {
          margin-right: 0;
          margin-left: 10px;
        }
      }
      .fa-sort-up {
        transform: translateY(10px);
      }
    }
  }
  .menu {
    width: 100%;
    background-color: #f0ebe1;
    padding: 0;
    list-style: none;
    color: #000;
    li {
      position: relative;
      font-weight: 500;
      padding: 10px 0;
      padding-left: 30px;
      font-size: 18px;
      border: 1px solid rgb(131, 131, 131);
      cursor: pointer;
      @include rtl() {
        padding-left: 0;
        padding-right: 30px;
      }
      &:hover {
        background-color: $almoosa-light-green;
        color: #fff;
      }
      &.active {
        background-color: $almoosa-light-green;
        color: #fff;
      }
      i {
        position: absolute;
        left: 20px;
        text-align: center;
        @include respond-below(md) {
          left: 10px;
        }
        @include rtl() {
          left: auto;
          right: 20px;
        }
      }
      span {
        // margin-left: 30px;
        @include rtl() {
          margin-left: 0;
          // margin-right: 30px;
        }
      }
      @include respond-below(md) {
        font-size: 16px;
        padding-left: 10px;
        @include rtl() {
          padding-left: 0;
          padding-right: 10px;
        }
      }
      @include respond-below(sm) {
        font-size: 14px;
      }
    }
  }
}
