.hair-post {
  margin: 50px auto;
  font-size: 16px;
  &:not(h1, h2, h3, h4, h5, h6) {
    font-size: 16px !important;
    font-family: 'diodrum-arabic-meduim' !important ;
    @include respond-below(md) {
      font-size: 14px !important;
    }
  }
  img {
    max-width: 100%;
    @include respond-below(xl) {
      margin-top: 30px;
    }
  }
}
