.hair-post {
  margin: 50px auto;
  font-size: 16px;
  p,
  ul li {
    font-size: 14px;
    span {
      // color: $secondary-color-light;
    }
    @include respond-below(sm) {
      font-size: 14px;
    }
  }
  img {
    max-width: 100%;
    @include respond-below(xl) {
      margin-top: 30px;
    }
  }
}
