.virtual-tour {
  padding-top: 70px;
  padding-bottom: 100px;
  h2 {
    color: $almoosa-color-green;
    font-size: $heading-size;
    font-weight: bold;
    @include Border-bottom(3px, $almoosa-color-green);
    padding-bottom: 29px;
    @include respond-below(lg) {
      font-size: $heading-mob-size;
    }
    @include respond-below(sm) {
      font-size: $heading-sm-size;
    }
  }
  img {
    max-width: 100%;
    margin: 100px 0;
  }
}
