.family-rights-page {
  .family-rights-content {
    .top-content {
      .description {
        p {
          font-weight: 500;
          padding-top: 50px;
          color: $secondary-color-light;
          font-size: 18px !important;
          font-family: 'diodrum-arabic-meduim';
          @include respond-below(md) {
            font-size: 16px !important;
          }
        }
      }
    }
    .content {
      .col {
        margin: 20px 0;
      }
      .info {
        box-shadow: 0px 3px 6px #00000054;
        padding: 30px 10px;
        .info-title {
          margin: 20px;
          font-size: $font-sm;
          font-weight: bold;
          @include respond-below(sm) {
            font-size: $font-xxs;
            margin-top: 5px;
          }
        }
        hr {
          background-color: $almoosa-light-green;
        }
        .info-list {
          margin-top: 20px;
          list-style: none;
          padding: 0;
          li {
            display: flex;
            margin: 20px 0;
            .num {
              font-size: $paragraph-text-mob-size;
              height: fit-content;
              padding-right: 5px;
              margin-right: 10px;
              font-weight: bold;
              border-right: 4px solid $almoosa-light-green;
              @include rtl() {
                padding-right: 0;
                margin-right: 0;
                border-right: 0;
                border-left: 4px solid $almoosa-light-green;
                padding-left: 5px;
                margin-left: 10px;
              }
            }
            .desc {
              font-size: 14px;
              color: $gray-2;
              @include respond-below(md) {
                font-size: 12px;
              }
            }

            ul {
              list-style: circle;
              li {
                margin: 5px 0;
              }
            }
          }
        }
      }
      .img-col {
        .the-img {
          width: 100%;
          height: 100%;
          background-size: cover;
        }
        @include respond-below(lg) {
          display: none;
        }
      }
      .second-rights {
        .info {
          height: 100%;
          background-color: $almoosa-light-green;
          color: #ffffff;
          .title {
            margin: 20px;
            font-size: $font-sm;
            font-weight: bold;
          }
          hr {
            background-color: #fff;
          }
          ul {
            margin-top: 20px;
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li {
              display: flex;
              margin: 20px 0;
              .num {
                font-size: $paragraph-text-mob-size;
                height: fit-content;
                padding-right: 5px;
                margin-right: 10px;
                font-weight: bold;
                border-right: 4px solid #fff;
                @include rtl() {
                  padding-right: 0;
                  margin-right: 0;
                  border-right: 0;
                  border-left: 4px solid #fff;
                  padding-left: 5px;
                  margin-left: 10px;
                }
              }
              .desc {
                font-size: $paragraph-text-xs-size;
                color: rgba(255, 255, 255, 0.801);
                @include respond-below(sm) {
                  font-size: $font-xxs;
                }
              }
            }
          }
        }
      }
    }
  }
}
