.gardens-content,
.bicycle-use-content,
.gift-shop-content {
  .inner-content {
    margin: 50px auto;
    .description {
      h5 {
        font-family: 'diodrum-arabic-bold';
        color: $secondary-color-light;
        font-size: 20px;
        text-decoration: underline;
        @include respond-below(md) {
          font-size: 16px;
        }
      }
      p {
        font-size: 16px;
        font-family: 'diodrum-arabic-meduim';
        @include respond-below(md) {
          font-size: 14px;
        }
        strong {
          font-family: 'diodrum-arabic-bold';
        }
      }
    }
  }
}
