.medical-records {
  .content {
    //background-image: url('/images/patient-guide/for_patient/medical-record.jpg');
    //background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    //padding: 100px 0;
    position: relative;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      //background-color: #00000028;
    }
    .inner-content {
      position: relative;
      width: 600px;
      max-width: 100%;
      z-index: 2;
      strong {
        font-family: 'diodrum-arabic-bold';
      }
    }

    .card {
      //padding: 50px;
      padding-top: 50px;
      display: inline-block;
      border: none;
      p {
        font-family: 'diodrum-arabic-meduim';
        font-size: 16px;
        @include respond-below(md) {
          font-size: 14px;
        }
        margin-bottom: 20px;
      }
      ul {
        padding: 0;
        list-style: none;
        li {
          margin: 20px auto;
          font-size: 16px;
          @include respond-below(md) {
            font-size: 14px;
          }
          .icon {
            color: $primary-color;
            margin-right: 10px;
            @include rtl() {
              margin-right: 0;
              margin-left: 10px;
            }
          }
        }
      }
      @include respond-below(sm) {
        padding: 20px;
        li {
          font-size: $font-xxs;
        }
      }
    }
  }
}
