.medical-records {
  .content {
    .inner-content {
      strong {
        font-family: 'diodrum-arabic-bold';
      }
    }

    .card {
      padding: 30px 0;
      display: inline-block;
      border: none;
      p {
        font-family: 'diodrum-arabic-meduim';
        font-size: 16px;
        @include respond-below(md) {
          font-size: 14px;
        }
        margin-bottom: 20px;
      }
      ul {
        padding: 0;
        list-style: none;
        li {
          margin: 20px auto;
          font-size: 16px;
          @include respond-below(md) {
            font-size: 14px;
          }
          .icon {
            color: $primary-color;
            margin-right: 10px;
            @include rtl() {
              margin-right: 0;
              margin-left: 10px;
            }
          }
        }
      }
      @include respond-below(sm) {
        padding: 20px;
        li {
          font-size: $font-xxs;
        }
      }
    }
  }
}
