.patient-complains {
  .content {
    .inner-content {
      .desc {
        padding: 30px 0;
        max-width: 700px;
        font-size: 16px;
        @include respond-below(md) {
          font-size: 14px;
        }
        strong {
          font-family: 'diodrum-arabic-bold';
        }
      }
    }
  }
}
