.planning-hospital-stay {
  .content {
    .inner-content {
      .desc {
        max-width: 700px;
        font-size: 16px;
        padding: 30px 0;
        @include respond-below(md) {
          font-size: 14px;
        }
      }
    }
  }
}
