.preparing-procedure {
  .content {
    .items {
      background-color: #fff;
      padding: 30px 0;
      border-radius: 10px;

      .brife {
        font-family: 'diodrum-arabic-meduim';
        color: #000;
        font-size: 16px;
        @include respond-below(md) {
          font-size: 14px;
        }
        @include respond-below(sm) {
          padding: 0 20px;
        }
      }
      .items-title {
        font-family: 'diodrum-arabic-bold';
        color: $secondary-color-light;
        font-size: 20px;
        text-decoration: underline;
        margin-top: 50px;
        @include respond-below(md) {
          font-size: 16px;
        }
      }
      .items-content {
        font-size: 16px;
        @include respond-below(md) {
          font-size: 14px;
        }
        li {
          margin: 20px 0;
        }
      }

      .side-img {
        .img {
          img {
            max-width: 100%;
            min-height: 350px;
          }
        }
        @include respond-below(xl) {
          display: none;
        }
      }
    }
  }
}
