.statistics {
  padding-top: 120px;
  // padding-bottom: 10%;
  // height: 520px;
  .container {
    * {
      font-family: "diodrum-arabic-meduim";
      text-align: center;
    }

    .infoContainer {
      p:first-child {
        color: $primary-bg-color;
        font: 900 55px/74px "diodrum-arabic-meduim";
        margin: 0;
      }

      p:last-child {
        color: $primary-color;
        font-family: "diodrum-arabic-meduim";
        font-size: 30px;
        font-weight: 400;
        text-transform: capitalize;
      }
    }

    .emergyncyContainer {
      background-color: $secondary-color-purple;
      width: 100%;
      // height: 284px;
      // margin: 73px auto -82px;
      position: relative;
      bottom: -82px;
      z-index: 2;
      padding: 75px 130px;
      @include respond-below (md) {
        padding: 25px 40px;
      }
      .emergyncy-call-us {
        // margin-top: 11%;
        // margin-left: 14%;
        
        h3,
        p {
          font-family: "diodrum-arabic-meduim";
          font-weight: 900;
          color: $header-bg;
          text-transform: uppercase;
          text-align: left;
          margin-bottom: 0;
        }
  
        h3 {
          font-size: $heading-size;
          @include respond-below (lg) {
            font-size: $heading-mob-size;
            text-align: center;
          }
          @include respond-below (sm) {
            font-size: $heading-sm-size;
          }
        }
  
        p {
          letter-spacing: 2px;
          line-height: 50px;
          font-size: $sub-heading-size;
          margin-top: 0;
          padding-top: 0;
          @include respond-below (lg) {
            font-size: $sub-heading-mob-size;
            text-align: center;
          }
          
        }
  
        // @include respond-below(xl){
        //   margin-top: 20%;
        //   h3 {
        //     font-size: 60px;
        //   }
        //   p {
        //     font-size: 30px;
        //   }
        // }
      }
      .emergyncy-phone {
        display: inline-block;
        // display: flex;
        // justify-content: center;
        // align-content: center;
        // align-items: center;
        // text-align: center;
        background-color: #f0ebe1;
        // max-width: 508px;
        // height: 120px;
        // margin-top: 97px;
        // margin-left: 21%;
        padding: 20px 59px;
        font: 900 $paragraph-text-size "diodrum-arabic-meduim";
        color: $primary-color;
        // @include respond-below(lg){
          //   width: 60%;
          //   height: 34%;
          // }
        @include respond-below (md) {
          padding: 15px 30px;
          font: 900 $paragraph-text-mob-size "diodrum-arabic-meduim";
        }
        @include respond-below (sm) {
          padding: 5px 5px;
          font: 900 $paragraph-text-mob-size "diodrum-arabic-meduim";
        }

        P {
          margin-bottom: 0;
          // margin-top: 1%;
        }
      }
    }

  }
  

  // @media (max-width: 991px) {
  //   .container {
  //     .question {
  //       margin-top: 15%;
  //       h3 {
  //         line-height: 95px;
  //         font-size: 40px;
  //         margin-bottom: -3%;
  //         padding-bottom: 0;
  //       }
  //     }
  //     .answer {
  //       p {
  //         font-size: 25px;
  //       }
  //     }
  //   }
  // }

  // @media (max-width: 767px) {
  //   .container {
  //     .emergyncyContainer {
  //       margin-bottom: 0;
  //     }
  //     .question {
  //       margin-top: 2%;
  //       margin-left: 0;
  //       letter-spacing: 1px;
  //       h3 {
  //         font-size: 45px;
  //       }
  //       p {
  //         letter-spacing: 2px;
  //         font-size: 35px;
  //       }
  //     }
  //     .answer {
  //       margin: 0;
  //       min-width: 100%;
  //       height: 60%;
  //       p {
  //         letter-spacing: 5px;
  //         font-size: 30px;
  //       }
  //     }
  //   }
  // }
}
