.medical-center-subpage {
  .hero {
    background-color: #215487;
    margin: 50px auto;
    padding: 50px 0;
    height: auto;
    @include respond-below(xl) {
      height: auto;
      padding: 50px 0;
    }
    .img-div {
      img {
        max-width: 100%;
      }
    }
    .par-div {
      color: #ffffff;
      display: flex;
      align-items: center;
      height: 100%;
      p {
        font-size: $paragraph-text-sm-size;
        line-height: 2;
        @include respond-below(xl) {
          margin-top: 50px;
        }
      }
    }
    .post_title {
      padding-top: 0;
    }
  }

  .info-popups {
    margin: 50px auto;
    button {
      border: 0;
      padding: 20px;
      color: #ffffff;
      font-size: 20px;
      position: relative;
      cursor: pointer;
      user-select: none;
      width: 30%;
      display: block;
    }
    .popup-wrapper {
      .popup-content {
        margin-left: 50px;
      }
    }
  }
}
