.inpatient-units {
  .inpatient-units-content {
    padding-top: 70px;
    padding-bottom: 100px;
    @include respond-below(lg) {
      transform: translateY(0);
      .col {
        margin: 20px auto;
      }
    }

    h2 {
      @include sectionHeading($almoosa-light-green);
    }
  }
  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      font-size: 20px;
      color: $almoosa-light-green;
      @include respond-below(xl) {
        font-size: 18px;
      }
      @include respond-below(md) {
        font-size: 16px;
      }
    }
    hr {
      background-color: $almoosa-light-green;
      height: 3px;
      border: 0;
      display: block;
    }
    .desc {
      * {
        font-size: 14px;
      }
    }
    .span-link {
      margin: 20px 0;
      cursor: pointer;
      font-size: 14px;
    }
  }
}

@import './re-pages-heading';
@import './re-columns-text';
@import './re-tabs';
