.cooperation {
  .two_columns_post {
    .post-paragraph {
      width: 100%;
      padding-right: 0;
      .single_paragraph {
        margin: 10px auto;
      }
    }
    .post-img {
      img {
        height: 350px;
      }
    }
  }
}
