.directions {
  .guide-directions {
    padding-top: 70px;
    padding-bottom: 100px;
    @include background-image;

    .heading-card {
      h2 {
        color: $primary-color;
        font-size: $heading-size;
        font-weight: bold;
        @include Border-bottom(3px, $primary-color);
        padding-bottom: 29px;
        @include respond-below(lg) {
          font-size: $heading-mob-size;
        }
        @include respond-below(sm) {
          font-size: $heading-sm-size;
        }
      }
      h3 {
        color: $primary-color;
        font-size: $sub-heading-size;
        @include Border-bottom(3px, $primary-color);
        padding-bottom: 29px;
        @include respond-below(lg) {
          font-size: $heading-mob-size;
        }
        @include respond-below(sm) {
          font-size: $heading-sm-size;
        }
      }
    }
    .info-section {
      background-color: #efeae0;
      justify-content: center;
      align-content: center;
      margin-top: 50px;
      margin-bottom: 50px;
      padding: 67px 430px;
      font-size: 38px;
      text-align: center;
      @include respond-below(xl) {
        font-size: $paragraph-text-mob-size;
        padding: 60px 10px;
      }
      @include respond-below(sm) {
        font-size: $paragraph-text-sm-size;
        padding: 60px 10px;
      }
    }
    .guide-card-item {
      width: 95%;
      padding: 50px;

      h3 {
        font-family: "diodrum-arabic";
        color: #fff;
        font-size: 40px;
        text-align: left !important;
      }
      &:nth-child(1) {
        background-color: rgba($primary-color, 1);
      }
      &:nth-child(2) {
        background-color: rgba($primary-color, 0.8);
      }
      &:nth-child(3) {
        background-color: rgba($almoosa-light-green-color, 1);
      }
      &:nth-child(4) {
        background-color: rgba($almoosa-light-green-color, 0.8);
      }
      &:nth-child(5) {
        background-color: rgba($secondary-color-purple, 1);
      }
      &:nth-child(6) {
        background-color: rgba($secondary-color-purple, 0.8);
      }
    }
    h4 {
      background-color: $primary-bg-color;
      padding: 20px;
      display: flex;
      color: #fff;
      @include respond-below(lg) {
        font-size: $sub-heading-mob-size !important;
      }
      @include respond-below(sm) {
        font-size: $sub-heading-sm-size !important;
      }
      &.mobility-subHeading {
        width: 50%;
        @include respond-below(lg) {
          width: 100%;
        }
      }
    }
    p {
      @include respond-below(lg) {
        font-size: $paragraph-text-mob-size !important;
      }
      @include respond-below(sm) {
        font-size: $paragraph-text-sm-size !important;
      }
    }
  }
}
