.hospital-aminities {
    .cards-wrapper{position: relative;}
    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
      z-index: 2;
      pointer-events: none;
    }

    .guide-cards {
      padding-top: 70px;
      padding-bottom: 100px;
  
      @include background-image;
      h2 {
        color: $almoosa-brown-color;
        font-size: $heading-size;
        font-weight: bold;
        @include Border-bottom(3px, $almoosa-brown-color);
        padding-bottom: 29px;
        @include respond-below(lg) {
          font-size: $heading-mob-size;
        }
        @include respond-below(sm) {
          font-size: $heading-sm-size;
        }
      }
  
      
      
      .row{
        .cols{
          .guide-card-item {
            padding: 0 40px;
            margin: 50px 0px 0px 0px;
            .feature {
              padding: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $secondary-bg-color;
              h3 {
                padding: 0;
                margin: 0;
                color: #fff;
                font-weight: normal;
              }
            }
          }
          &:nth-child(odd){
            .feature {
              background-color: $primary-bg-color;
            }
          }
        }
      }
    }
  }
  