.blog-button {
  position: fixed;
  right: -10px;
  top: 38%;
  z-index: 1000;
  // opacity: 0.1;
  clip-path: polygon(100% 0, 100% 100%, 0 87%, 0 0);
  // &:hover {
  //   opacity: 1;
  // }
  @include respond-below(lg) {
    // display: none;
    top: 52%;
  }
  &.hide {
    display: none;
  }
}
