.hero {
  position: relative;
  @include background-image;
  height: $hero-height;
  @include respond-below(lg) {
    text-align: center;
    padding: 6em 0;
    height: auto !important;
  }
}
.home .hero {
  height: 888.67px;
}
.about .hero {
  height: 600px;
}
.services .hero {
  height: 500px;
}
.almoosa-doctors .hero {
  height: 900px;
}
.contact-us .hero {
  height: 360px;
}
.blog .hero {
  height: 359px;
}
