.event-info {
  padding-top: 100px;
  padding-bottom: 100px;
  img {
    width: 100%;
  }
  .info {
    padding: 200px 70px 20px;
    background-color: #efeae0;
    @include respond-below(md) {
      padding: 50px 70px 20px;
    }
    .date-location {
      justify-content: center;
      display: grid;
      padding-bottom: 20px;
      @include Border-bottom(1px, #888888);

      h2 {
        padding-left: 50px;
        padding-bottom: 30px;
        font-size: 45px;
        font-weight: bold;
        line-height: 50px;
        margin: auto;
      }
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        li {
          line-height: 50px;
          i {
            padding-right: 20px;
            color: $secondary-color-light;
            font-size: 25px;
            display: inline-block;
          }
        }
      }
    }
    .cost {
      padding-top: 40px;
      i {
        color: $primary-color;
        padding-right: 20px;
        font-size: 25px;
        display: inline-block;
      }
    }
    button {
      color: #fff;
      background-color: $primary-color;
      width: 100%;
      padding: 5px 10px;
      font-size: 45px;
      line-height: 65px;
      font-weight: bold;
    }
  }
  .about-event p {
    font-size: 20px;
    line-height: 50px;
    font-weight: medium;
  }
  .topics {
    h4 {
      min-width: 35%;
      font-size: 30px;
      line-height: 65px;
      font-weight: bold;
      padding-bottom: 5px;
      display: inline;
      color: $primary-color;
      @include Border-bottom(1px, $primary-color);
      @include respond-below(md) {
        font-size: $sub-heading-mob-size;
      }

      & ~ div {
        display: flex;
        @include respond-below(lg) {
          flex-direction: column;
        }
        p {
          font-size: 25px;
          font-weight: medium;
          line-height: 65px;
          &:last-child {
            padding-left: 100px;
          }
          @include respond-below(lg) {
            font-size: 20px;
            &:last-child {
              padding-left: 0px;
            }
          }
        }
      }
    }
  }
  .about-event,
  .topics {
    h2 {
      font-size: 40px;
      font-weight: bold;
      @include Border-bottom(1px, #707070);
      padding-bottom: 10px;
      @include respond-below(lg) {
        font-size: $heading-mob-size;
      }
      @include respond-below(sm) {
        font-size: $heading-sm-size;
      }
    }
  }
}
