.nursing-department {
  // .hero {
  //   .hero-content {
  //     h2 {
  //       color: $primary-color;
  //     }
  //   }
  // }
  section.nursing {
    padding-top: 70px;
    padding-bottom: 100px;
    .title {
      @include sectionHeading($almoosa-light-green-color);
    }
    .content {
      margin-top: 30px;
      .single-section {
        margin-bottom: 50px;
        h3 {
          font-size: 18px !important;
          @include respond-below(md) {
            font-size: 16px !important;
          }
        }
        a {
          font-size: 16px !important;
          font-family: 'diodrum-arabic-bold' !important;
          @include respond-below(md) {
            font-size: 14px !important;
          }
        }
        .nursing-title,
        .nursing-subtitle {
          font-weight: bold;
          color: $secondary-color-light;
          font-size: 21px !important;
          text-decoration: underline;
          font-family: 'diodrum-arabic-bold' !important;
          @include respond-below(md) {
            font-size: 16px !important;
          }
        }
        .sub-single-section {
          padding: 0 20px;
          .nursing-subtitle {
            font-size: 18px !important;
            margin-top: 30px;
            color: $primary-color;
          }

          .nursing-sub-subtitle {
            font-size: 17px;
            margin-top: 30px;
            color: $dark-blue;
          }
          .nursing-paragraph,
          .nursing-menu {
            font-size: 15px;
          }
        }

        .nursing-paragraph {
          font-weight: bold;
          font-size: 16px;
          margin: 10px 0 30px 0;
        }
        .nursing-menu {
          font-weight: bold;
          font-size: 16px !important;
          & > li {
            margin-top: 20px;
            font-size: 16px !important;
            @include respond-below(md) {
              font-size: 14px !important;
            }
          }
          .sub-item {
            color: rgb(51, 51, 51);
          }
        }
      }
    }
  }
}

@include respond-below(md) {
  .nursing {
    .head-banner {
      padding: 50px;
      h2 {
        font-size: 30px;
      }
    }
  }
}
