.controller{
    @include respond-below(lg){
        position: absolute;
        top: 0;
        right: -100%;
        background-color: #FFF;
        padding: 2em;
        transition: 0.4s;
        &.open{
            right: 0;
        }
    }
    .search{
        label{
            font-size: 35px;
            font-family: "diodrum-arabic-meduim";
        }
        input{
            padding: 15px;
            padding-left: 8px;
            height: auto;
        }
    }
    /**
    * categories
    */
    .categories,
    .tags{
        h4{
            font-size: 35px;
            font-family: "diodrum-arabic";
        }
        ul{
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            li{
                margin-right: 10px;
                margin-bottom: 25px;
                a{
                    transition: 0.3s;
                    color: $primary-color;
                    padding: 8px 30px;
                    border: 1px solid $primary-color;
                    display: block;
                    font-size: 20px;
                    font-family: "diodrum-arabic";
                }

                &.active{
                    a{
                        background-color: $primary-color;
                        color: #FFF;
                        
                    }
                }
                &:hover{
                    a{
                        background-color: $primary-color;
                        color: #FFF;
                        
                    }
                }
            }
        }
    }

    /****
    ** popular-posts
    ***/
    .popular-posts{
        h4{
            font-size: 35px;
            font-family: "diodrum-arabic";
            display: inline-block;
            border-bottom: 2px solid $primary-color;
        }

        ul{
            li{
                margin: 30px 0;
                a{
                    color: #000;
                    display: flex;
                    align-items: center;
                    img{
                        display: inline-block;
                        width: 142px;
                        height: 122px;
                        border: 1px solid;
                        margin-right: 15px;

                    }
                    div{

                        h5{
                            font-size: 20px;
                            font-family: "diodrum-arabic-bold";
                        }
                        p{
                            font-size: 18px;
                            font-family: "diodrum-arabic-meduim";
                        }
                    }
                }
            }
        }
    }
    
}