@import "controller";
@import "search-result";
@import "single-post-page";
.blog{
    .content-wrapper {
        .inner-content{
            padding: 80px 0;
            position: relative;
        }
        h2 {
            @include sectionHeading($secondary-color)
        }

        .post-card{
            img{
                display: block;
                width: 100%;
                margin-bottom: 35px;
            }
            .title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 40px;
                @include respond-below(md){
                    display: block;
                    text-align: center;
                }
                h3{
                    font-size: 32px;
                    font-family: "diodrum-arabic-bold";
                    @include respond-below(md){
                        font-size: 22px;
                    }
                }
                div span{
                    display: inline-block;
                    font-family: "diodrum-arabic-meduim";
                    color: #969696;
                    &:first-child{
                        font-size: 16px;
                    }
                    &:last-child{
                        font-size: 14px;
                    }
                    @include respond-below(md){
                        font-size: 14px;
                    }
                }
            }
            .description{
                p{
                    font-size: 20px;
                    font-family: "diodrum-arabic-light";
                    
                }
                a{
                    font-size: 20px;
                    font-family: "diodrum-arabic-meduim";
                    color: #142E48;
                }
            }
        }
        
        // 
    }
}