.support-services {
  // .hero {
  //   .hero-content {
  //     position: absolute;
  //     top: 50%;
  //     left: 8%;
  //     transform: translateY(-50%);
  //     @include rtl() {
  //       right: 8%;
  //       left: auto;
  //     }
  //   }
  //   .hero-cover {
  //     transform: scaleX(-1);
  //     @include rtl() {
  //       transform: scaleX(1);
  //     }
  //   }
  //   .title {
  //     color: $primary-color;
  //   }
  // }
  .support-services-card {
    padding-top: 70px;
    padding-bottom: 100px;

    @include background-image;
    h2 {
      @include sectionHeading($almoosa-light-green);
    }
    .cols {
      .card-item {
        @include background-image;
        position: relative;
        padding: 40px;
        height: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include respond-below(sm) {
          padding: 20px;
        }

        h3 {
          font-weight: normal;
          font-size: 20px;
          @include Border-bottom(3px, #fff);
          padding-bottom: 15px;
          @include respond-below(lg) {
            font-size: 18px;
          }
          @include respond-below(sm) {
            font-size: 16px;
          }
        }
        p {
          font-size: 16px;
          padding-top: 30px;
          @include respond-below(lg) {
            font-size: 14px;
          }
          @include respond-below(md) {
            font-size: 14px;
          }
        }
        a {
          display: block;
          padding-top: 50px;
        }
      }
      &:nth-child(1) .card-item {
        background-color: $almoosa-color-green;
      }
      &:nth-child(2) .card-item {
        background-color: $secondary-color-purple;
      }
      &:nth-child(3) .card-item {
        background-color: $almoosa-brown-color;
      }
      &:nth-child(4) .card-item {
        background-color: $primary-color;
      }
    }
  }
}

//Sub pages
@import './operation-rooms';
@import './laboratory';
@import './pharmacy';
