.hakeem-magazine {
  .content-wrapper {
    position: relative;

    .headingSection {
      @include sectionHeading($almoosa-brown-color);
      option {
        font-size: 23px;
        line-height: 30px;
        color: #9e9e9e;
      }
      @include respond-below(xl) {
        text-align: center;
        font-size: $heading-mob-size;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.3)
      );
      z-index: 2;
      pointer-events: none;
    }

    .card-item {
      position: relative;
      min-height: 380px;
      margin-top: 74px;
      @include Radius(3px);
      background-color: $almoosa-light-green-color;
      &:hover {
        transition: 0.3s;
        box-shadow: 3px 3px 6px hsla(0, 0%, 0%, 0.16);
        transform: translate(-2px, -2px);
      }
      .ribbon {
        position: absolute;
        bottom: 11.5%;
        left: 0;
        width: 100%;
        background-color: rgba($color: #fff, $alpha: 0.8);
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
          padding: 0;
          margin: 0;
          color: $almoose-dark-green;
          font-size: 28px;
          line-height: 37px;
          font-weight: medium;
        }
      }
    }
  }
}
