.events {
  padding-top: 70px;
  padding-bottom: 100px;
  h2 {
    @include sectionHeading($almoosa-color-green);
  }
  .event-filters {
    @include Border-bottom(3px, $primary-color);
    padding: 30px 0;
    @include respond-below(lg) {
      text-align: center;
    }
    button {
      border: 0;
      width: 100%;
      padding: 9px 0;
      background-color: $primary-color;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      width: 100%;
      @include respond-below(sm) {
        font-size: 20px;
      }
    }
  }
  .card {
    @include background-image;
    position: relative;
    height: 300px;
    box-shadow: 0px 0px 5px 2px hsla(0, 0%, 0%, 0.16);
    cursor: pointer;
    @include rtl() {
      direction: rtl;
    }
    img {
      height: 180px;
      width: 100%;
    }
    .content-event-card {
      height: 120px;
      position: relative;
      .event-date {
        height: 100%;
        text-transform: uppercase;
        background-color: $primary-color;
        width: 25%;
        color: #fff;
        font-size: 20px;
        text-align: center;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        p {
          padding: 0;
          margin: 0;
          font-family: 'diodrum-arabic-bold';
        }
      }
      .banner {
        width: 75%;
        height: 100%;
        background-color: rgba(#fff, 0.9);
        position: absolute;
        // bottom: 2%;
        left: 25%;
        margin: 0;
        padding: 2px 8px;
        justify-content: space-between;
        flex-direction: column;
        @include rtl() {
          left: 0;
          right: 25%;
        }
        div {
          &:first-child {
            @include rtl() {
              padding-right: 10px;
              padding-left: 0;
            }
            h3 {
              font-size: 17px;
              font-weight: bold;
              padding: 0;
              margin-top: 10px;
              @include respond-below(sm) {
                font-size: 15px;
              }
            }
            p {
              font-size: 14px;
              padding: 0;
              margin: 0;
            }
          }
          &:last-child {
            display: flex;
            justify-content: space-between;
            color: $almoose-dark-green;
            font-size: 14px;
            position: absolute;
            width: 92%;
            bottom: 5px;
            p {
              padding: 0;
              margin: 0;
            }
          }
        }
      }
    }
  }
  .noData {
    margin: auto;
    padding: 50px;
    font-size: 30px;
    font-family: 'diodrum-arabic-bold';
  }
}
