@font-face {
  font-family: 'diodrum-arabic-bold';
  src: url('../fonts/diodrum-arabic-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'diodrum-arabic';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/diodrum-arabic.ttf') format('truetype');
}

@font-face {
  font-family: 'diodrum-arabic-meduim';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/diodrum-arabic-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'diodrum-arabic-light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/diodrum-arabic-light.ttf') format('truetype');
}

@font-face {
  font-family: 'diodrum-arabic-extra-light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/diodrum-arabic-extralight.zip') format('truetype');
}
