.carousel {
  .carousel-image {
    width: 100%;
  }
  .slick-next,
  .slick-prev {
    position: absolute;
    z-index: 5;
    &::before {
      font-size: 50px;
      @include respond-below(sm) {
        display: none;
      }
    }
  }
  .slick-next {
    right: 5%;
  }
  .slick-prev {
    left: 5%;
  }
  .slick-dots {
    bottom: 20px;
    button {
      &::before {
        font-size: 15px;
      }
    }
  }
}
