.contact-us-button {
  position: fixed;
  right: -10px;
  top: 38%;
  z-index: 1000;
  @include rtl() {
    right: auto;
    left: -10px;
    transform: scale(-1);
  }
  clip-path: polygon(100% 0, 100% 100%, 0 87%, 0 0);
  transition: 0.4s;

  @include respond-below(lg) {
    top: 52%;
  }
  &.hide {
    display: none;
  }
  svg {
    direction: ltr;
  }
}

.contact-us-button-mob {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0px 0px 3px 0px #fff;

  @include rtl() {
    right: auto;
  }
  a {
    position: relative;
    display: block;
    padding: 4px;
    width: 130px;
    border-radius: 5px 0 0 5px;
    z-index: 999;
    color: #fff;
    text-align: center;
    font-size: 16px;
    background-color: $primary-color;
    @include rtl() {
      border-radius: 0 5px 5px 0;
    }
    svg {
      position: absolute;
      right: -29px;
      top: 9px;
      transform: rotate(90deg) scale(1);
      height: 22px;
      @include rtl() {
        right: auto;
        top: 10px;
        left: -30px;
        transform: rotate(90deg) scale(-1);
      }
    }
  }
  @include rtl() {
    left: 0;
  }
}
