.custom-tabs {
  margin: 50px 0;
  .items-list {
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0;
    li {
      border-radius: unset;
      cursor: pointer;
      border: 0;
      transition: all 0.1s linear;
      clip-path: polygon(87% 1%, 87% 50%, 87% 100%, 0 100%, 0 0);
      background-color: $primary-color;
      width: 100%;
      &:hover {
        background-color: #6c8357 !important;
      }
      @include rtl() {
        clip-path: polygon(100% 1%, 100% 50%, 100% 100%, 10% 100%, 10% 0);
      }
      i {
        margin-right: 15px;
        @include rtl() {
          margin-right: 0;
          margin-left: 15px;
        }
      }
      &.active {
        clip-path: polygon(87% 1%, 100% 49%, 87% 100%, 0 100%, 0 0);
        color: #ffffff;
        background-color: $secondary-color;
        cursor: unset;
        @include rtl() {
          padding-right: 1em;
          padding-left: 0;
          clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0 48%);
        }
        @include respond-below(md) {
          transform: scale(1.02);
          box-shadow: 1px 1px 5px #424242;
        }
      }
      @include respond-below(md) {
        clip-path: unset !important;
      }
      a {
        color: #fcfcfc;
        font-size: 16px !important;
        font-family: 'diodrum-arabic-meduim' !important;
        border: none !important;
        padding: 1em;
        width: 90%;
        @include rtl() {
          padding-right: 1em;
        }
        &:hover {
          border-color: none;
        }
      }
    }
  }
  .tab-content {
    h2 {
      // font-size: 22px;
      @include respond-below(md) {
        margin-top: 30px;
        // font-size: 16px !important;
      }
    }
    hr {
      margin: 10px 0;
    }
    p,
    span,
    li,
    h3,
    a {
      font-size: 16px !important;
      font-family: 'diodrum-arabic-meduim' !important;
      @include respond-below(md) {
        font-size: 14px !important;
      }
    }

    b,
    strong {
      font-family: 'diodrum-arabic-bold' !important;
      p,
      span,
      a,
      li,
      h3,
      h4 {
        font-family: 'diodrum-arabic-bold' !important;
      }
    }

    ul {
      li {
        margin: 20px 0;
      }
    }
  }

  .post_with_title .two_columns_post,
  .post_with_title .one_column_post_content {
    margin: 0 !important;
    .post_title {
      padding-top: 0;
    }
  }
}
