header {
  .top-header {
    padding: 10px 0;
    .logos-wrapper {
      width: 217px;
      @include respond-below(lg) {
        text-align: center;
      }
    }
    .navbar-brand {
      .logo1 {
        width: 45%;
      }
      .logo2 {
        width: 55%;
      }
      img {
        display: inline-block;
        width: 100%;
      }
    }
  }

  .navbar {
    z-index: 10;
    background-color: $primary-color !important;
    align-items: flex-end;
    padding: 1em 0;
    .nav-toggler-wrapper {
      @include respond-below(xl) {
        width: 100%;
      }
      .navbar-toggler {
        margin-right: 2em;
        color: #fff;
        border-color: #fff;
        @include rtl() {
          margin-right: 0;
          margin-left: 2em;
        }
      }
    }
    //menu items
    .navbar-nav {
      @include rtl() {
        padding: 0;
      }
    }
    .navbar-collapse.show {
      margin-top: 1em;
    }
    .nav-item {
      .nav-link {
        color: $nav-item-color !important;
        position: relative;
        font-size: $nav-item-font-size;
        font-family: 'diodrum-arabic-meduim';
        @include respond-between(xl, 3xl) {
          margin: 0;
          font-size: 18px;
        }
        @include respond-below(xl) {
          margin: 0 1.3em;
        }
        @include respond-below(md) {
          font-size: $font-xs;
        }
        &::before,
        &::after {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          background: $nav-item-active-underline-color;
          left: 0;
          transition: width 0.3s;
        }
        &::before {
          top: 0;
        }
        &::after {
          bottom: 0;
        }
        &.active {
          font-family: 'diodrum-arabic-bold';
          &::before,
          &::after {
            width: 100%;
            height: 2px;
          }
          &::before {
            @include respond-below(xl) {
              display: none;
            }
          }
        }
        &:hover {
          &::before,
          &::after {
            width: 100%;
            height: 2px;
          }
          &::before {
            @include respond-below(xl) {
              display: none;
            }
          }
        }

        //icons
        i {
          margin-right: 8px;
          @include rtl() {
            margin-right: 0;
            margin-left: 8px;
          }
        }
      }
    }

    // Start Handle The dropdown Menu
    .dropdown-toggle {
      .down-arrow {
        margin-left: 20px;
        @include rtl() {
          margin-left: 0;
          margin-right: 20px;
        }

        @include respond-below(xl) {
          float: right;
          @include rtl() {
            float: left;
          }
        }
      }
      &::after {
        border: 0;
        margin: 0;
      }
    }
    .dropdown-menu {
      background-color: $primary-color;
      color: #fff;
      @include respond-above(xl) {
        top: 57px;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
      }
      button {
        padding: 0;
        li {
          a {
            color: #fff;
            font-size: 14px;
            padding: 0.5rem 3rem;
            transition: 0.3s;
            &.active {
              background-color: #fff;
              color: #000 !important;
            }

            @include rtl() {
              text-align: right;
            }
            @include respond-below(md) {
              font-size: 16px;
            }
          }
        }
        &:hover {
          a {
            color: black;
          }
        }
      }
    }
  }
}
