.hero {
  position: relative;
  @include background-image;
  height: $hero-height;
  @include respond-below(xl) {
    text-align: center;
    height: $hero-height-lg;
    // padding: 6em 0;
    // height: auto !important;
  }

  @include respond-below(lg) {
    // padding: 3em 0;
    height: $hero-height-md;
  }

  @include respond-below(md) {
    // padding: 3em 0;
    height: $hero-height-sm;
  }

  @include respond-below(sm) {
    // padding: 3em 0;
    height: $hero-height-xs;
  }

  .hero-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleX(1);
    @include rtl() {
      transform: scaleX(-1);
    }
  }
  // .hero-content {
  //   position: absolute;
  //   top: 50%;
  //   left: 15%;
  //   transform: translateY(-50%);
  //   @include rtl() {
  //     right: 15%;
  //     left: auto;
  //   }
  //   /***/
  //   h2 {
  //     color: #fff;
  //     font-size: 3rem;
  //     font-family: 'diodrum-arabic-bold';
  //     padding: $spaces 0;
  //     @include respond-below(md) {
  //       font-size: $heading-md;
  //     }
  //     @include respond-below(sm) {
  //       font-size: $heading-sm;
  //     }
  //   }

  //   p {
  //     display: block;
  //     margin: 0;
  //   }
  // }
  .hero-content {
    background-color: $secondary-color-light-lessOpacity;
    position: absolute;
    top: 45%;
    left: 0 !important;
    right: auto;
    padding-left: 25px;
    width: 35%;
    @include rtl() {
      left: auto;
      right: 0 !important;
    }
    @include respond-below(xl) {
      top: 40%;
      width: 40%;
    }

    @include respond-below(lg) {
      top: 30%;
      width: 50%;
    }

    @include respond-below(md) {
      // position: unset;

      width: 60%;
    }
    @include respond-below(sm) {
      // position: unset;
      top: 20%;
      width: 100%;
      margin-top: 20px;
    }
    .title {
      font-size: $heading-size;
      color: #fff;
      font-weight: bold;
      text-align: center;
      padding: 20px;
      margin: 0;
      @include respond-below(xl) {
        font-size: $heading-mob-size;
      }
      // @include respond-below(lg) {
      //   font-size: $heading-mob-size;
      // }
      @include respond-below(md) {
        font-size: $heading-sm-size;
      }
    }
  }
}
.home .hero {
  height: 700px;
  transform: scaleX(-1);
  @include rtl() {
    transform: scaleX(1);
  }
  .home-hero-content {
    position: relative;
    z-index: 2;
    transform: scaleX(-1);
    @include rtl() {
      transform: scaleX(1);
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff9c;
  }
}
// .about .hero {
//   height: 600px;
// }
// .services .hero {
//   height: 500px;
// }
// .almoosa-doctors .hero {
//   height: 500px;
// }
// .contact-us .hero {
//   height: 360px;
// }
// .blog .hero {
//   height: 359px;
// }
