label {
  position: relative;
  width: 100%;

  select {
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    outline: none;
    border-radius: 0;
    cursor: pointer;
    color: $primary-color;
    font-weight: bold;
    @include respond-below(md) {
      padding: 10px;
      font-size: 14px;
    }
    option {
      font-size: 16px;
      @include respond-below(md) {
        font-size: 14px;
      }
    }
  }
  i {
    width: 30px;
    height: 30px;
    color: #737373;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    z-index: 2;
    top: 33%;
    right: 10px;
    &:before {
      display: block;
    }
    @include rtl() {
      right: auto;
      left: 10px;
    }
  }
}
