.support-services {
  .support-services-card {
    padding-top: 70px;
    padding-bottom: 100px;

    @include background-image;
    h2 {
      color: $primary-color;
      font-size: $heading-size;
      font-weight: bold;
      @include Border-bottom(3px, $primary-color);
      padding-bottom: 29px;
      @include respond-below(lg) {
        font-size: $heading-mob-size;
      }
      @include respond-below(sm) {
        font-size: $heading-sm-size;
      }
    }
    .cols {
      .card-item {
        @include background-image;
        position: relative;
        padding: 40px;
        color: #fff;
        @include respond-below(sm) {
          padding: 20px;
        }
        h3 {
          font-weight: normal;
          font-size: $sub-heading-size;
          @include Border-bottom(3px, #fff);
          padding-bottom: 15px;
          @include respond-below(lg) {
            font-size: $sub-heading-mob-size;
          }
          @include respond-below(sm) {
            font-size: $sub-heading-sm-size;
          }
        }
        p {
          font-size: 20px;
          padding-top: 30px;
          text-align-last: left;
          @include respond-below(lg) {
            font-size: 18px;
          }
        }
        a {
          display: block;
          padding-top: 50px;
        }
      }
      &:nth-child(1) .card-item {
        background-color: $almoosa-color-green;
      }
      &:nth-child(2) .card-item {
        background-color: $secondary-color-purple;
      }
      &:nth-child(3) .card-item {
        background-color: $almoosa-brown-color;
      }
      &:nth-child(4) .card-item {
        background-color: $primary-color;
      }
    }
  }
}
