.page-title {
  padding: 20px;
  color: #fff;
  font-size: $heading-mob-size;
  font-weight: bold;
  .icon {
    margin-right: 10px;
    @include rtl() {
      margin-left: 10px;
      margin-right: 0;
    }
  }
  .zigzag {
    float: right;
    @include rtl() {
      float: left;
    }
    svg {
      fill: white;
    }
    @include respond-below(lg) {
      display: none;
    }
  }
}
