.support-groubs {
  .support-groubs-content {
    .content {
      padding: 30px 0;
      .info {
        .title {
          margin-top: 50px;
          margin-bottom: 30px;
          font-size: $heading-sm-size;
          font-weight: bold;
          color: $primary-color;
          width: fit-content;
          @include respond-below(sm) {
            margin: auto;
            margin-bottom: 40px;
          }
        }
        hr {
          background-color: $primary-color;
          border-color: $primary-color;
          width: 120%;
        }
        p {
          font-family: 'diodrum-arabic-meduim';
          font-size: $paragraph-text-sm-size;
          @include respond-below(sm) {
            font-size: $paragraph-text-xs-size;
          }
        }
        .sections {
          .single-section {
            margin-bottom: 50px;
            .support-groubs-title {
              font-family: 'diodrum-arabic-bold';
              color: $secondary-color-light;
              font-size: 20px;
              text-decoration: underline;
              @include respond-below(md) {
                font-size: 16px;
              }
            }
            .support-groubs-paragraph {
              font-size: 16px;
              @include respond-below(md) {
                font-size: 14px;
              }
            }
            .support-groubs-menu {
              font-weight: bold;
              font-size: 16px;
              li {
                margin: 20px 0;
                font-size: 16px;
                @include respond-below(md) {
                  font-size: 14px;
                }
              }
              .sub-item {
                margin-top: 0;
                color: rgb(51, 51, 51);
              }
            }
          }
        }
      }
    }
  }
}
