.hospital-aminities {
  .cards-wrapper {
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.055),
      rgba(255, 255, 255, 0.178)
    );
    z-index: 2;
    pointer-events: none;
  }

  .guide-cards {
    padding-top: 70px;
    padding-bottom: 100px;

    h2 {
      @include sectionHeading($almoosa-brown-color);
    }

    .row {
      .cols {
        .guide-card-item {
          padding: 0 40px;
          margin: 50px 0px 0px 0px;
          @include respond-below(sm) {
            padding: 0;
          }
          .feature {
            padding: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $primary-bg-color;
            position: relative;
            @include respond-below(sm) {
              padding: 20px;
            }
            &:hover {
              cursor: pointer;
              .bottom {
                transition: all 0.1s ease-in-out;
                height: 0 !important;
              }
            }
            .top-bg {
              position: absolute;
              width: 100%;
              height: 50%;
              left: 0;
              top: 0;
              background-image: url('/images/zigzag.svg');
              background-size: contain;
              opacity: 0.3;
            }
            .bottom-bg {
              position: absolute;
              width: 100%;
              height: 50%;
              left: 0;
              bottom: 0;
              background-color: #0e3d57;
            }
            h3 {
              padding: 0;
              margin: 0;
              color: #fff;
              font-weight: normal;
              position: relative;
              z-index: 2;
              font-size: 26px;
              @include respond-below(sm) {
                font-size: 20px;
              }
            }
            @include respond-below(lg) {
              padding: 20px;
              h3 {
                font-size: $paragraph-text-mob-size;
              }
            }
            @include respond-below(sm) {
              h3 {
                font-size: $paragraph-text-sm-size;
              }
            }
          }
        }
      }
    }
  }
}

// Import The subPages Styles
@import './tabebyService';
@import './diningOptions';
@import './support-groubs';
@import './pharmacy';
@import './atms';
@import './rePageTitle';
@import './wifi';
@import './library';
