.center-paragraph {
  font-size: $sub-heading-mob-size;
  @include respond-below(sm) {
    font-size: $sub-heading-sm-size;
  }
}

.block-content {
  .item {
    font-size: 20px;
    margin: 20px auto;
    h2 {
      padding: 20px;
      background-color: $primary-color;
      color: #fff;
      font-size: $heading-sm-size;
      font-weight: bold;
      @include respond-below(xl) {
        font-size: $sub-heading-sm-size;
      }
      @include respond-below(sm) {
        font-size: $paragraph-text-xs-size;
      }
    }
    ul li,
    p,
    span {
      font-size: $sub-heading-mob-size;
      @include respond-below(sm) {
        font-size: $sub-heading-sm-size;
      }
    }
  }
}
