.page-heading {
  background-color: #6d3794;
  color: #ffffff;
  padding: 20px 0;
  h1 {
    font-size: $heading-size;
    font-weight: 900;
    @include respond-below(lg) {
      font-size: $heading-mob-size;
    }
    @include respond-below(sm) {
      font-size: $heading-sm-size;
    }
  }
}
