.medical-programs {
  .medical-programs-card {
    padding-top: 70px;
    padding-bottom: 100px;

    @include background-image;
    h2 {
      color: $almoose-dark-green;
      font-size: $heading-size;
      font-weight: bold;
      @include Border-bottom(3px, $almoose-dark-green);
      padding-bottom: 29px;
      @include respond-below(lg) {
        font-size: $heading-mob-size;
      }
      @include respond-below(sm) {
        font-size: $heading-sm-size;
      }
    }
    .cols {
      .card-item {
        @include background-image;
        position: relative;
        padding: 40px;
        color: #fff;
        @include respond-below(sm) {
          padding: 20px;
        }
        h3 {
          font-weight: normal;
          font-size: $sub-heading-size;
          @include Border-bottom(3px, #fff);
          padding-bottom: 15px;
          @include respond-below(lg) {
            font-size: $sub-heading-mob-size;
          }
          @include respond-below(sm) {
            font-size: $sub-heading-sm-size;
          }
        }
        p {
          font-size: 20px;
          padding-top: 30px;
          text-align-last: left;
          @include respond-below(lg) {
            font-size: 18px;
          }
        }
      }
      &:nth-child(1) .card-item,
      &:nth-child(7) .card-item {
        background-color: $almoosa-light-green-color;
      }
      &:nth-child(2) .card-item,
      &:nth-child(8) .card-item {
        background-color: rgba($primary-color, 0.9);
      }
      &:nth-child(3) .card-item,
      &:nth-child(9) .card-item {
        background-color: rgba($secondary-color-purple, 0.8);
      }
      &:nth-child(4) .card-item,
      &:nth-child(10) .card-item {
        background-color: $almoosa-offwhite-color;
        color: rgba($primary-color, 1);
        h3 {
          @include Border-bottom(3px, $primary-color);
        }
        span {
          color: rgba($primary-color, 1);
        }
      }
      &:nth-child(5) .card-item,
      &:nth-child(11) .card-item {
        background-color: rgba($almoosa-brown-color, 0.9);
      }
      &:nth-child(6) .card-item,
      &:nth-child(12) .card-item {
        background-color: rgba($secondary-color, 1);
      }
      &:nth-child(7) .card-item,
      &:nth-child(8) .card-item {
        h3 {
          font-size: 37px;
        }
      }
    }
  }
}

/* Import files */
// Pages
@import './hair-transplant';

// reusable Components
@import './page-heading';
@import './shared-post';
@import './dropdown';
@import './_block-of-content';
@import './stroke-management';
@import './vaccination-program';
@import './related-links';
