.mosques {
  .content {
    .info {
      padding-top: 30px;
      position: relative;
      z-index: 2;
      width: fit-content;
      @include rtl() {
        margin-left: 0;
      }
      @include respond-below(lg) {
        margin: 30px;
      }

      .note {
        font-family: 'diodrum-arabic-bold';
        color: $secondary-color-light;
        font-size: 20px;
        text-decoration: underline;
        @include respond-below(md) {
          font-size: 16px;
        }
      }
      .desc {
        .one {
          margin: 30px 0;
          .type {
            background-color: #fff;
            width: fit-content;
            color: $almoosa-light-green;
            p {
              padding: 1px 5px;
              margin: 5px 0;
            }
          }
          .location {
            font-size: 16px;
            @include respond-below(md) {
              font-size: 14px;
            }
            .icon {
              margin-right: 10px;
              @include rtl() {
                margin-right: 0;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}
