.waiting-areas {
  .content {
    .right-col {
      height: 100%;
      min-height: 300px;
      @include respond-below(sm) {
        display: none;
      }
      .img {
        height: 80%;
        background-size: cover;
        @include respond-below(xl) {
          height: 100%;
        }
      }
      .zigzag {
        img {
          width: 100%;
          display: none;
        }
        @include respond-below(xl) {
          display: none;
        }
      }
    }
    .left-col {
      .desc {
        padding: 30px 0;
        p {
          font-family: 'diodrum-arabic-meduim';
          font-size: 16px;
          //line-height: 2;
          @include respond-below(md) {
            font-size: 14px;
          }
        }
      }
      .note {
        color: $primary-color;
        margin: 10px auto;
        font-size: 16px;
        p {
          font-family: 'diodrum-arabic-bold';
        }
      }
      ul.info {
        list-style: none;
        padding: 0;
        li {
          margin: 10px 0;
        }
        .icon {
          color: $almoosa-light-green;
          font-size: 16px;
          margin-right: 10px;
        }
        .text {
          font-size: 14px;
        }
      }
    }
  }
}
