.play-together {
  .hero {
    position: relative;
    .banner {
      position: absolute;
      bottom: 50px;
      right: 0;
      width: 30%;
      opacity: 0.8;

      @include respond-below(lg) {
        position: unset;
        width: 100%;
        height: 50%;
      }
      img {
        max-width: 100%;
      }
    }
    .left-ticket {
      position: absolute;
      left: 0;
      //top: 50px;
      top: 68%;
      background-color: $secondary-color-light-lessOpacity;
      color: #ffffff;
      padding: 20px 50px;
      h3 {
        font-weight: bold;
      }
      span {
        display: block;
        text-transform: uppercase;
        text-align: center;
        margin: 10px 0;
      }
      @include respond-below(lg) {
        position: unset;
        width: 100%;
        padding: 50px 0;
        margin: 30px 0;
      }
    }
  }

  .content-wrapper {
    padding-top: 63px;
    padding-bottom: 100px;
    > * {
      font-family: 'diodrum-arabic-meduim' !important;
      > span {
        font-family: 'diodrum-arabic-meduim' !important;
      }
    }

    @include background-image;
    h2 {
      @include sectionHeading($primary-color);
    }

    .section-one {
      margin: 20px 0;
      span {
        font-size: 16px !important;
        font-family: 'diodrum-arabic-meduim' !important;
        padding: 40px;
        font-weight: bold;
        height: 100%;
        @include respond-below(md) {
          padding-right: 0;
          font-size: 14px !important;
        }
      }
      .col-12 {
        &:first-child {
          @include respond-below(lg) {
            order: 2;
          }
        }
        &:last-child {
          @include respond-below(lg) {
            order: 1;
          }
        }
      }
      p {
        font-size: 16px !important;
        padding: 20px;
        font-family: 'diodrum-arabic-meduim' !important;
        @include respond-below(lg) {
          margin-top: 1em;
        }
        @include respond-below(md) {
          font-size: 14px !important;
        }
      }

      img {
        display: block;
        width: 100%;
        //height: 100%;
        height: 300px;
        margin-bottom: 20px;
        @include respond-below(lg) {
          height: 300px;
        }
      }
    }
    .section-two {
      margin: 50px 0;
      padding: 50px 0;
      position: relative;
      &::before {
        position: absolute;
        top: 0;
        left: 50%;
        content: '';
        width: 50%;
        height: 1px;
        background-color: $primary-color;
        transform: translate(-50%, 0);
        @include respond-below(sm) {
          transform: translate(0, 0);
          width: 100%;
          left: 0;
        }
      }
      p {
        font-size: $paragraph-text-size;
        font-family: 'diodrum-arabic-meduim' !important;
        text-align: center;
        margin: 20px 0;
        @include respond-below(lg) {
          font-size: $paragraph-text-sm-size;
        }
        @include respond-below(xs) {
          font-size: $paragraph-text-sm-size;
        }
        span {
          font-size: $paragraph-text-size;
          font-family: 'diodrum-arabic-meduim' !important;
        }
      }
    }
    .last-section {
      background-color: $gray;
      padding: 33px 0;

      img {
        display: block;
        width: 100%;
        height: 100%;
        @include respond-below(sm) {
          padding-top: 2em;
        }
      }
    }
  }
}
