.community {
  font-family: 'diodrum-arabic-meduim' !important;

  // .hero {
  //   .hero-content {
  //     left: 45%;
  //     h2 {
  //       font-size: $heading-size;
  //       color: $header-bg;
  //       font-weight: bold;
  //       text-align: center;
  //       padding: 10px;
  //       margin: 0;
  //       @include respond-below(lg) {
  //         font-size: $heading-mob-size;
  //       }
  //       @include respond-below(md) {
  //         font-size: $heading-sm-size;
  //       }
  //     }
  //   }
  // }
  .content-wrapper {
    padding-top: 70px;
    padding-bottom: 100px;
    font-family: 'diodrum-arabic-meduim' !important;

    > * {
      font-family: 'diodrum-arabic-meduim' !important;
      > span {
        font-family: 'diodrum-arabic-meduim' !important;
      }
    }

    @include background-image;
    h2 {
      @include sectionHeading($primary-color);
    }

    .content-card {
      @include background-image;
      position: relative;
      min-height: 350px; // before 500px
      margin-top: 74px;
      box-shadow: 0 0 5px 5px #cccccc78;
      @include Radius(3px);
      &:hover {
        transition: 0.3s;
        box-shadow: 3px 3px 6px hsla(0, 0%, 0%, 0.16);
        transform: translate(-2px, -2px);
      }
      .ribbon {
        position: absolute;
        bottom: 11.5%;
        left: 0;
        width: 100%;
        height: 10vh; // before 160px
        display: flex;
        justify-content: center;
        align-items: center;
        h3,
        h4 {
          padding: 0;
          margin: 0;
          color: #fff;
        }
      }
      .ribbon-1 {
        background-color: $almoosa-light-green;
      }
      .ribbon-2 {
        background-color: $secondary-color-purple;
      }
      .ribbon-3 {
        background-color: $almoosa-brown-color;
      }
      .ribbon-4 {
        background-color: $dark-blue;
      }
      .ribbon-5 {
        background-color: $almoosa-light-green;
      }
      .ribbon-6 {
        background-color: $secondary-color-purple;
      }
      .ribbon-7 {
        background-color: $almoosa-brown-color;
      }
      .ribbon-8 {
        background-color: $dark-blue;
      }
    }
  }
}
@import './letslearn/index.scss';
@import './cooperation/index.scss';
@import './play-together/index';
@import './paramedic/index.scss';
@import './cleft/index.scss';
@import './taste-of-art/index.scss';
@import './power-of-art/index.scss';
@import './asha-marathon/index';
